{% extends "main/header.html" %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

    {% for message in messages %}

    <div class="alert alert-danger">
        <a class="close" href="/login/" data-dismiss="alert">×</a>
           {{ message }}
    </div>

    {% endfor %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
      <br>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>

  <p class="text-center">¿No tienes cuenta? <a href="/register">Crear una</a>.</p>
</div>

{% endblock %}