{% extends 'main/header.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Resetear contraseña</h2>
		<hr>
		<p>¿Has olvidado tu contraseña? Introduce tu email y enviaremos un mail con las instrucciones para resetearla.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Enviar mail</button>
        </form>
  	</div> 

{% endblock %}