<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/catalogo">Reserva de material</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/catalogo">Bienvenido, {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mis_reservas">Mis reservas</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
  <ul class="navbar-nav ml-auto">
  {% load group_extra %}
      {% if user.is_authenticated %}
          {% if user.is_superuser or user|has_group:"encargado_material"%}
           <li class="nav-item mr-auto">
        <a class="nav-link" href="/admin">Administración</a>
        </li>
          {% endif %}
      <li class="nav-item mr-auto">
        <a class="nav-link" href="/password_reset">Cambiar contraseña</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" href="/logout">Cerrar sesión</a>
      </li>
      {% else %}
      <li class="nav-item mr-auto">
          <a class="nav-link" href="/password_reset">He olvidado mi contraseña :(</a>
      </li>
      {% endif %}
  </ul>
  </div>
</nav>