{% extends "main/header.html" %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'reservas/css/catalogo.css' %}">

<div class="container bg-light rounded">
        <div class="h4 font-weight-bold text-center py-3">¿Qué quieres reservar?</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <a href="/reserva_but" style="text-decoration: none; color: black">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div
                            class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue">
                            <img src="{% static 'reservas/img/butanito.png' %}" alt="" style="height: max-content; image-orientation: flip">
                        </div>
                        <div class="d-flex flex-column">
                            <b>Butanito</b>
                            <p class="text-muted">{{ butanito_count }} disponibles</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <a href="/reserva_que" style="text-decoration: none; color: black">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-orange">
                            <img src="{% static 'reservas/img/quemador.png' %}" alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <b>Quemador</b>
                                <p class="text-muted">{{ quemador_count }} disponibles</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <a href="/reserva_tie" style="text-decoration: none; color: black">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-purple">
                            <img src="{% static 'reservas/img/tienda.png' %}" alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <b>Tienda de campaña</b>
                                <p class="text-muted">{{ tienda_count }} disponibles</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}